body {
    background-color: #C0C0C0;
    text-align: center;
}

h3 {
    margin-left: 15px;
    width: 20%;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
    padding: 10px;
}

p {
    margin-left: 15px;
    width: 20%;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
    font-size: 18px;
    padding: 10px;
}

img {
    margin-bottom: 20px;
}
